# Podstawowe biblioteki
numpy>=1.19.2
pandas>=1.1.3
scipy>=1.7.1

# PyTorch i powiązane biblioteki
torch==1.10.0
torchvision==0.11.2
torchaudio==0.10.0

# Biblioteki do przetwarzania danych i uczenia maszynowego
scikit-learn==1.0.1
tslearn==0.5.2

# Biblioteki do wizualizacji
matplotlib>=3.3.4
seaborn==0.11.2

# Biblioteki do obróbki tekstu i NLP
nltk==3.6.7
transformers==4.11.3

# Biblioteki do obsługi różnych formatów danych
h5py>=3.1.0
jsonpickle==2.0.0

# Biblioteki do efektywnego przetwarzania danych
numba==0.54.1

# Biblioteki do wizualizacji modeli
graphviz==0.19.1
torchviz==0.0.2

# Biblioteki do logowania i monitorowania
tensorboard==2.7.0

# Biblioteki do testowania
pytest==6.2.5

# Dodatkowe narzędzia
tqdm==4.62.3

