# Podstawowe biblioteki
numpy>=1.19.2
pandas==1.3.5          # Dopasowanie do Pythona 3.9 i innych bibliotek
scipy==1.7.3           # Najnowsza wersja kompatybilna z Python 3.9

# PyTorch i powiązane biblioteki
torch==1.12.1+cpu      # Wersja PyTorch bez CUDA, odpowiednia dla środowisk bez GPU
torchvision==0.13.1+cpu # Dopasowanie do wersji PyTorch
torchaudio==0.12.1+cpu # Dopasowanie do wersji PyTorch

# Biblioteki do przetwarzania danych i uczenia maszynowego
scikit-learn==1.0.2    # Najnowsza wersja kompatybilna z Python 3.9
tslearn==0.5.2

# Biblioteki do wizualizacji
matplotlib==3.5.3       # Ostatnia wersja wspierająca Python 3.9
seaborn==0.11.2

# Biblioteki do obróbki tekstu i NLP
nltk==3.6.7
transformers==4.12.5    # Ostatnia wersja wspierająca Python 3.9

# Biblioteki do obsługi różnych formatów danych
h5py==3.7.0            # Aktualizacja dla lepszej kompatybilności
jsonpickle==2.0.0

# Biblioteki do efektywnego przetwarzania danych
numba==0.54.1

# Biblioteki do wizualizacji modeli
graphviz==0.19.1
torchviz==0.0.2

# Biblioteki do logowania i monitorowania
tensorboard==2.9.1     # Ostatnia wersja wspierająca Python 3.9

# Biblioteki do testowania
pytest==6.2.5

# Dodatkowe narzędzia
tqdm==4.62.3
